::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #528448;
}

::-moz-selection {
  color: white;
  background: #528448;
}

::selection {
  color: white;
  background: #528448;
}
